@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Mochiy Pop P One', sans-serif;
}

Body{
    font-family: 'Mochiy Pop P One', sans-serif;
}
.bgimg {
    background-image: url('./Assets/bg1.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-size: 25px;
}

.bgimg .box {
    display: flex;
    justify-content: center;
}

.bgimg .box .middle .logo img{
    width: 30px;
    height: 40px;
}


.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 8px ;
    border: 5px solid rgb(0, 255, 255);
    border-radius: 15px;
    background-color: white;
}

a:hover{
    background-color: rgb(0, 255, 255);
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 700px) {
    .followus{
        font-size: 40px;
    }
}